.home {
  background-color: rgb(25, 23, 43);
  height: 100%;
}
.list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4,1fr);
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3,1fr);
  }
  @media (max-width: 750px) {
    grid-template-columns: repeat(2,1fr);
  }
  @media (max-width: 570px) {
    grid-template-columns: 1fr;
  }
}