.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 35px 0;
}
.body {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}
.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  span {
    font-weight: 900;
    color: rgb(85, 194, 245);
  }
  @media (max-width: 570px) {
    display: none;
  }
}
.user {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
.search {
  @media (max-width:390px) {
    width: 40%;
  }
}
