.main {
  background-color: rgb(25, 23, 43);
  font-size: 1rem;
  height: 100%;
  min-height: 100vh;
}
.body {
  display: flex;
  justify-content: space-between;
  @media (max-width:760px) {
    flex-direction: column;
    align-items: center;
  }
}
.view {
  flex: 0 0 28%;
}
.picture {
  max-width: 400px;
  width: 100%;
}
.info {
  flex: 0 1 67%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width:760px) {
    margin: 30px 0 50px 0;
    font-size: 20px;
    flex-direction: column;
    gap: 20px;
  }
}
.button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: #ffffff;
  background-color: inherit;
  gap: 5px;
}
.favorite * {
  fill: rgb(185, 185, 185);
}
.active * {
  fill: rgb(85, 194, 245);
}
.wrapper {
  height: 100%;
}
.description {
  height: 100%;
  display: flex;
  gap: 30px;
}
.about {
  margin: 20px 0;
}
.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 6%;
  @media (max-width:1200px) {
    gap: 15px;
    min-height: 260px;
    justify-content: space-between;
  }
}
.text {
  line-height: 20px;
  margin: 20px 0;
}
.production {
  @media (max-width:390px) {
    display: none;
  }
}